<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>free-write-servlet</servlet-name>
    <servlet-class>web.FreeWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>free-write-servlet</servlet-name>
    <url-pattern>/free</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbs-list-servlet</servlet-name>
    <servlet-class>web.BBSListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbs-list-servlet</servlet-name>
    <url-pattern>/bbs-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteBBSViewServlet</servlet-name>
    <servlet-class>completebbsControl.CompleteBBSViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteBBSViewServlet</servlet-name>
    <url-pattern>/completeBBSView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteBBSAddServlet</servlet-name>
    <servlet-class>completebbsControl.CompleteBBSAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteBBSAddServlet</servlet-name>
    <url-pattern>/completeBBSAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteBBSContentServlet</servlet-name>
    <servlet-class>completebbsControl.CompleteBBSContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteBBSContentServlet</servlet-name>
    <url-pattern>/completeBBSContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteBBSDeleteServlet</servlet-name>
    <servlet-class>completebbsControl.CompleteBBSDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteBBSDeleteServlet</servlet-name>
    <url-pattern>/completeBBSDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpiredBBSViewServlet</servlet-name>
    <servlet-class>expiredbbs.ExpiredBBSViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpiredBBSViewServlet</servlet-name>
    <url-pattern>/expiredBBSView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpiredBBSContentServlet</servlet-name>
    <servlet-class>expiredbbs.ExpiredBBSContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpiredBBSContentServlet</servlet-name>
    <url-pattern>/expiredBBSContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpiredBBSDelteServlet</servlet-name>
    <servlet-class>expiredbbs.ExpiredBBSDelteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpiredBBSDelteServlet</servlet-name>
    <url-pattern>/expiredBBSDelte</url-pattern>
  </servlet-mapping>
</web-app>